body{
    display: flex;
    justify-content: center;
}
.main-div{
    height: 40rem;
    width: 30rem;
    background-color: wheat;
    display: grid;
    grid-template-columns: 3fr 3fr;

}

.box1{
    background-color: rgb(247, 191, 191);
    height: 70px;
    width: 70px;
}